
feedback-window {
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--panel-color);
}

.header {
    color: white;
    text-align: center;
    display: flex;
    gap: 1em;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
}
.header h1 {
    font-size: 2em;
    margin: 0;
}
.header .grid-icon {
    width: 20%;
    --shadow-color: rgba(0, 0, 0, 0.559);
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    height: 80%;
}

feedback-widget[hide] {
    display: none;
}
feedback-widget {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 40%;
    height: 75%;
    padding: 0.5em;
    border-radius: 2.5em 2.5em 1.5em 1.5em;
    background-color: #f7f1e7;
}

feedback-widget > div {
    display: flex;
    gap: 0.5em;
    height: 33.333%;
}

feedback-widget access-button {
    --icon-color:rgb(0, 0, 0);
    --icon-color-hover: rgb(255, 255, 255);
    --icon-bg: rgb(8, 197, 8);
    width: 100%;
}


feedback-widget access-button.test {
    --icon-bg: rgb(235, 125, 8);
}


feedback-widget[invalid] access-button {
    pointer-events: none;
    opacity: 0.5;
}

/* .feedback {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.feedback[hidden]{
    display: none;
} */

feedback-frame {
    width: 100%;
    height: 66.666%;
    background:#156082;
    border-radius:2em;
    overflow: hidden;
    display: flex;
}

.f-header {
    width: 100%;
    font-size: 1.3em;
    padding: 0.5em;
    color: white;
    text-align: center;
}

feedback-frame svg {
    width: 100%;
    background-color: #121211;

}

feedback-frame .border {
    fill: #156082;
}

feedback-frame .border[hit] {
    fill: rgb(188, 13, 13)
}


test-screen {
    background: #121211;
    width: 100%;
    height: 100%;
    display: block;
}

test-screen .dot > circle.big {
    stroke: white;
    stroke-dasharray: 7px 7px;
    fill: none;
    stroke-width: 2px;
}

test-screen .dot > circle.small {
    stroke: white;
    fill: none;
    stroke-width: 2px;
}
test-screen .dot > circle.proximity {
    stroke: white;
    fill: none;
}

test-screen .grid-icon {
    /* border: 2px solid white; */
    /* border-radius: 1em; */
    width: 20%;
    height: 20%;
    position: absolute;
    /* background: transparent; */
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    --shadow-color: transparent;
    /* box-shadow: unset; */
}

