
feedback-window {
    /* display: flex; */
    /* gap: 1em; */
    /* flex-direction: column; */
    /* padding: 1em; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--panel-color);
    pointer-events: all;
}
feedback-window .grid-icon {
    --shadow-color: transparent;
}
feedback-window grid-layout {
    position: absolute;
    top: var(--gap);
    left: var(--gap);
    right: var(--gap);
    bottom: var(--gap);
}

/* .header {
    color: white;
    text-align: center;
    display: flex;
    gap: 1em;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
} */
.header h1 {
    font-size: 2em;
    margin: 0;
    line-height: 1.2;
}
.header .grid-icon {
    width: 20%;
    --shadow-color: rgba(0, 0, 0, 0.559);
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    height: 80%;
}

feedback-widget[hide] {
    display: none;
}
feedback-widget {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 40%;
    height: 75%;
    padding: 0.5em;
    border-radius: 2.5em 2.5em 1.5em 1.5em;
    background-color: #f7f1e7;
}

feedback-widget > div {
    display: flex;
    gap: 0.5em;
    height: 33.333%;
}

feedback-widget access-button {
    --icon-color:rgb(0, 0, 0);
    --icon-color-hover: rgb(255, 255, 255);
    --icon-bg: rgb(8, 197, 8);
    width: 100%;
}


feedback-widget access-button.test {
    --icon-bg: rgb(235, 125, 8);
}


feedback-widget[invalid] access-button {
    pointer-events: none;
    opacity: 0.5;
}

/* .feedback {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.feedback[hidden]{
    display: none;
} */

feedback-frame {
    /* width: 100%; */
    /* height: 66.666%; */
    background:#156082;
    border: 3px solid #079ddb;
    border-radius:2em;
    overflow: hidden;
    display: flex;
}

.f-header {
    width: 100%;
    font-size: 1.3em;
    padding: 0.5em;
    color: white;
    text-align: center;
}

feedback-frame svg {
    width: 100%;
    background-color: #121211;

}

.border-norm {
    stop-color: #156082;
}
.border-norm.end {
    stop-opacity: 0;
}

.border-hit {
    stop-color: rgb(188, 13, 13);
}
.border-hit.end {
    stop-opacity: 0;
}


feedback-frame:not([disabled]) .f-overlay {
    display: none;
}
feedback-frame[disabled]  {
    border: 3px solid rgb(208, 16, 9);
}

.f-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #201e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-overlay h1 {
    font-size: 1.25em;
    max-width: 85%;
    text-align: center;
    padding: 0.5em 0.5em 1em 0.5em;
    background: #201e1e;
}

.f-overlay::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 100%;
    background: white;
    transform: translate(-50%, -50%) rotate(330deg);
    z-index: -1;
    border-radius: 5px;
}


/* 
feedback-frame .border[hit] {
    fill: rgb(188, 13, 13)
} */


test-screen {
    background: #121211;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: all;
}

test-screen .dot > circle.big {
    stroke: white;
    stroke-dasharray: 7px 7px;
    fill: none;
    stroke-width: 2px;
}

test-screen .dot > circle.small {
    stroke: white;
    fill: none;
    stroke-width: 2px;
}
test-screen .dot > circle.proximity {
    stroke: white;
    fill: none;
}

test-screen .grid-icon {
    /* border: 2px solid white; */
    /* border-radius: 1em; */
    width: 20%;
    height: 20%;
    position: absolute;
    /* background: transparent; */
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    --shadow-color: transparent;
    /* box-shadow: unset; */
}
test-screen .grid-icon:active {
    transform: translateX(-50%) scale(0.98);
}

