
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rotater {
    width: 100%;
    height: 100%;
    perspective: 2000px;
    --transition-time: 0.8s;
    /* --angle: 0deg; */
}

.rotater > div {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* transform: rotateY(var(--angle)); */
    /* transition: transform var(--transition-time) cubic-bezier(0.32, 0.0, 0.68, 1); */
    will-change: transform;
}

/* .rotater[flip] > div > .slot-2 * {
    pointer-events: none;
} */
/* 
.rotater:not([flip]) > div > .slot-1 * {
    pointer-events: none;
} */

.slot-1, .slot-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
}

.rotater > div > .slot-2 {
    transform: rotateY(180deg);
}


.slider .slot-1, .slider .slot-2 {
    will-change: transform;;
}

.slider[y] > .slot-1, 
.slider[y] > .slot-2 {
    transform: translateY(calc(100% * var(--t)));
}
.slider[x] > .slot-1, 
.slider[x] > .slot-2 {
    transform: translate(calc(100% * var(--t)));
}