video-panel-widget {
    --border: 2px;
    --bg-color: rgb(34 33 33);
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack {
    display: flex;
    gap: 2px;
    margin: 2px;
    width: var(--s-width);
    height: var(--s-height);
    position: absolute;


}
.stack[stack-mode="vertical-height"],
.stack[stack-mode="vertical-width"] {
    flex-direction: column;
}



/* Video Display */
video-display {
    display: flex;
    position: relative;
    pointer-events: all;
    width: 100%;
    height: 100%;
    --t-width:var(--s-width);
    --t-height: var(--s-height);
}

.stack[stack-mode="vertical-width"] video-display,
.stack[stack-mode="vertical-height"] video-display{
    --v-width: calc(var(--t-width));
    --v-height: calc(var(--t-width) / var(--aspect, 1));
}
.stack[stack-mode="horizontal-width"] video-display,
.stack[stack-mode="horizontal-height"] video-display{
    --v-height: calc(var(--t-height));
    --v-width: calc(var(--t-height) * var(--aspect, 1));
}

video-display video {
    border-radius: var(--br, 0px);
    width: 100%;
    height: 100%;
    pointer-events: none;;
}
video-display canvas {
    border-radius: var(--br, 0px);
    width: 100%;
    height: 100%;
    pointer-events: none;
}

video-display:not(:hover) .top-left {
    opacity: 0;
    pointer-events: none;
}


.video-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in opacity;
    background-color: #ffffff38;

}

video-display[talking] {
    border-color: red;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --min-dim: min(var(--v-width), var(--v-height));
    --size: calc(var(--min-dim) * 0.7);
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 256 256"><!-- Generator: Adobe Illustrator 29.4.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 152) --><path d="M24.77,256c0-69.4,46.22-125.66,103.23-125.66s103.23,56.26,103.23,125.66"/><ellipse cx="128" cy="62.64" rx="46.42" ry="45.2"/></svg>');
}
video-display[disabled] .video-overlay,
video-display[waiting] .video-overlay {
    opacity: 1;
}
video-display[disabled] canvas,
video-display[waiting] canvas {
    opacity: 0;
}
video-display[waiting] {
    pointer-events: none;
}
video-display[waiting] .simple-loader{
    opacity: 1;
}
/* video-display[disabled] .overlay-image {
    opacity: 1;
} */

.top-left {
    opacity: 1;
    transition: 0.4s ease-in opacity;
}

.icon-button:not(:empty) {
    display: flex;
    padding: 0.3em;
    border-radius: 0.3em;
    background: rgba(30, 30, 30, 0.765);
    cursor: pointer;
}
.icon-button:hover {
    --icon-color: var(--icon-color-hover);
}

.icon-text {
    background: #27252580;
    font-size: 0.72em;
    color: white;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px #2725258c;
}


.icon-slot:not(:empty) {
    display: flex;
    flex-direction: column;
    margin: 0.3em;
    gap: 0.3em;
    font-size: min(1.5em, calc(var(--v-height) / 6.5));
}




/* loader container */
  .simple-loader {
    --dot-size: 12px;
    --dot-gap: 12px;
    --dot-color: #fef8ff;
    --duration: 0.8s;
    --amplitude: 0.5;
    display: inline-flex;
    align-items: end;
    gap: var(--dot-gap);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  /* dots */
  .simple-loader b{
    border: 2px solid rgba(0, 0, 0, 0.635);
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--dot-size);
    background: var(--dot-color);
    display:block;
    transform: translateY(calc(-100% * var(--amplitude)));
    /* staggered animation using delays below */
    animation: oscillate var(--duration) cubic-bezier(0.38, 0, 0.62, 1) infinite;
    will-change: transform;
  }

  /* slightly different easing to feel more organic */
  @keyframes oscillate {
    0%   { 
        transform: translateY(calc(-100% * var(--amplitude))); 
    }
    50%  { 
        transform: translateY(calc(100% * var(--amplitude)));
    }
    100%  { 
        transform: translateY(calc(-100% * var(--amplitude)));
    }
  }

  /* Stagger the three dots to create a wave/oscillating effect */
  .simple-loader b:nth-child(1){ animation-delay: calc(var(--duration) * -0.20); }
  .simple-loader b:nth-child(2){ animation-delay: calc(var(--duration) * -0.40); }
  .simple-loader b:nth-child(3){ animation-delay: calc(var(--duration) * -0.60); }

  /* Respect prefers-reduced-motion */
  @media (prefers-reduced-motion: reduce) {
    .simple-loader b {
      animation: none;
      transform: translateY(0);
      opacity: 0.95;
    }
  }