keyboard-window[shadow] {
    --gap: 2px;

    /* display: none; */
    width: 100%;
    height: 100%;
    padding: var(--gap);
    box-sizing: border-box;
    display: block;
    background: white;
    pointer-events: all;
}
grid-layout {
    width: 100%;
    height: 100%;
}

.grid-icon .content {
    gap: 0;
}
